@font-feature-values{
    font-family: 'Langar', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Bitter', serif;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,label {
    margin: 5px;
    padding: 6px;
    border-radius: 10px;
    border-color: #4b4b4b;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-width: 2px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(20deg);
-ms-transform: rotate(20deg);
transform: rotate(20deg);
}

p {
    margin: 0px;
    padding: 0px;
}

img.cursor {
    cursor: pointer;
}

hr {
    margin: 0;
}

/* Globab Styles */
.absolute-bottom-right {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}

.add-event-icon {
    background: none;
    border: none;
    cursor: pointer;
}

[contentEditable]:empty:before{
    content:attr(data-text)
}

.btn {
    padding: 25px 25px;
    width: 200px;
    margin: 5px;
    background-color: #167ec7;
    border: none;
    border-radius: 5px;
    color: white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 30px;
}

.btn:hover {
    border: none;
}

input {
    user-select: none;
}

div.add-event-form input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    user-select: none;
}

img.icon {
    width: 25px;
    height: 25px;
    padding: 10px;
    cursor: pointer;
}

/* Switch styling */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #909090;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* End Switch Styling */


/* End Global Styles */

/* Application Style */

div.scheduler-application-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;                 /* Before logging in this is hidden */
    transition: 500ms;
}

div.header {
    position: relative;
    width: 100%;
    height: 100px;
    user-select: none;
}
    /* Header Styling */
    div.header h1 {
        font-family: 'Ubuntu';
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 25px;
        margin: 0;
        display: inline-block;
        color: white;
        font-size: 40px;
        cursor: pointer;
    }

    #signout_button {
        position: absolute;
        top: 50%;
        right: 35px;
        height: 50px;
        transform: translateY(-50%);
        display: inline-block;
        padding: 10px 25px;
        padding-left: 60px;
        background-color: #167ec7;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 25px;
        box-sizing: border-box;
        cursor: pointer;
    }

    #signout_icon {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        filter: invert();
    }
    /* End Header Styling */

div.content-daily {
    display: none;                  /* Hide by default */
    position: relative;
    width: 100%;
    height: auto;
    min-height: 300px;
}

/* Content Tridaily */              /* Show by default on pc */
div.content-tridaily-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    transition: 500ms;
}
div.content-tridaily-event-container {
    position: relative;
    left: -200%;
    width: 500%;
    height: calc(100% - 100px);
    min-height: 300px;
}

div.content-tridaily-member {
    position: absolute;
    display: flex;
    flex-direction: column;  
    flex-basis: 100px;                          /* This makes sure the flex-grow calculation is done equally */
    align-items: flex-start;             
    width: 20%;
    height: calc(100% - 25px);
    padding-top: 25px;
    overflow-y: hidden;                         /* Might want to be changed to scroll at some point */
    overflow-x: hidden;
    min-height: 300px; 
    transition: 500ms;
    transition-timing-function: cubic-bezier(0.37, 0, 0.62, 0.96);
}

div.content-tridaily-selection-container {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    align-self: center;
    left: -200%;
    height: 120px;
    width: 500%;
    color: white;
    user-select: none;
    font-size: 40px;
}

div.content-tridaily-selection-member {
    position: absolute;
    width: 20%;
    height: 80px;
    transition: 500ms;
    transition-timing-function: cubic-bezier(0.37, 0, 0.62, 0.96);
}

div.content-tridaily-container p {
    text-align: center;
    font-family: 'Bitter', serif;
    height: 50%;
    line-height: 30px;
}

div.content-tridaily-container img {
    filter: invert(1);
    width: 50px;
    height: 50px;
}

div.content-tridaily-container img.date-selection {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 1;
}

    /* Event Styling */
    div.event-container {
        position: relative;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        height: 100px;
        left: 5%;
        width: 90%;
        padding: 20px 10px 20px 10px;
        border: 1px solid white;
        border-radius: 15px;
        cursor: pointer;    
        margin-bottom: 15px;
        line-height: 30px;
        background-color: white;
        color: black;
        transition: 1000ms;
    }

    div.event-container .event-member {
        line-height: 50px;
        font-size: 40px;
    }

        /* Checkbox Styling */
        div.event-container .checkbox {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        div.event-container .checkbox input {
            position: absolute;
            cursor: pointer;
            height: inherit;
            width: inherit;
            margin: 0;
            transition: 300ms;
        }

        /* End Checkbox Styling */

        /* Name Styling */
        div.event-member.name {
            flex-grow: 1;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-family: 'Bitter';
        }
        /*End Name Styling */

        /* Time Styling */
        div.event-member.time {
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 10px;
        }
        /* End Time Styling */

        /* Elaborate Event Styling */
        div.elaborate-event-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 300px;
            min-height: 300px;
            max-width: 600px;
            width: 75%;
            height: 50%;
            padding: 50px;
            border-radius: 15px;
            background-color:#437044;
            font-size: 30px;
        }

        div.elaborate-event-container h1 {
            color: white;
            font-family: 'Nunito';
            margin: 0;
            font-size: 50px;
        }

        div.elaborate-event-title {
            position: relative;
            font-family: 'Nunito', sans-serif;
            padding: 10px;
            width: calc(100% - 50px);
            color: white;
        }

        div.elaborate-event-description {
            position: relative;
            font-family: 'Nunito', sans-serif;
            padding: 10px;
            width: calc(100% - 50px);
            color: white;
        }

        div.elaborate-event-container input {
            width: 200px;
            font-size: 30px;
        }

        img.elaborate-event-closing-button {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }


        /* End Elaborate Event Styling */

    /* End Event Styling */

    /* Add Event Form Styling */
    div.add-event-form {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 70%;
        padding: 25px 25px 25px 25px;
        box-sizing: border-box;
        border-radius: 40px 40px 0px 0px;
        background-color: #2e2e2e;
        transition: 500ms;
        transition-timing-function: linear;
    }

    div.add-event-form h1 {
        font-family: 'Nunito', sans-serif;
        color: white;
        margin: 0;
        font-size: 50px;
        text-align: center;
    }

    div.add-event-form div.form {
        position: relative;
        font-family: 'Nunito', sans-serif;
        padding: 12px;
        color: white;
        text-align: center;
        font-size: 40px;
    }

    div.add-event-form div.form:focus {
        outline: 0;
    }

    div.add-event-form div.form div{
        font-family: 'Nunito', sans-serif;
    }

    #add_event_error {
        padding: 10px 0px;
        font-family: 'Ubuntu';
        color: #cf1b1b;
        font-size: 30px;
        height: auto;
    }

    #add_event_reminder, #add_event_recurrence {
        padding: 3px;
        margin: 5px;
    }

    div.add-event-form div.settings-container {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        align-items: stretch;
    }

    div.add-event-form div.button-container{
        position: relative;
        width: 200px;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
    }

    div.add-event-form label.elaboration{
        position: absolute;
        left: 15%;
        font-size: 50px;
        color: white;
        margin: 0;
        padding: 0;
    }

    div.add-event-form input {
        width: 200px;
        font-size: 30px;            
    }

    div.settings-container h1 {
        display: inline-block;
        font-size: 20px;
        font-weight: normal;
    }

    #add_event_location {
        padding: 6px;
        font-size: 17px;
        font-weight: bold;
        color: black;
        background-color: #e7e7e7;
        border-radius: 15px;
        max-width: 250px;
    }
    /* Difficulty Styling */
    


    /* End Difficulty Styling */
    /* End Add Event Form Styling */

/* End Content Tridaily */

div.content-calendar {
    display: none;                   /* Hide by default */
    position: relative;
    width: 100%;
    height: auto;
}

/* End Application Style */


/* Login Screen Styling */

body {
    background-color: #151515;
}

div.login-container {
    position: absolute;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
}

div.login-container h1 {
    font-family: 'Langar', cursive;
    font-size: 50px;
    color: #2a85ff;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

div.login-container h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #151515;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

div.login-container button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    left: 10%;
    width: 80%;
    height: 40px;
}

/* End Login Screen Styling */